@charset "utf-8";
/* CSS Document */

.account-grid .main-left{width:150px;}
.account-grid .main-right{margin:0 0 0 150px}

/*个人设置*/
.set-section .item-set{margin:15px 20px 0}
.item-set{color:#999;border:#F2F2F2 solid 1px}
.item-set .set-fold{cursor:pointer;color:#535353;background:#fbfbfb;height:18px;line-height:18px;padding:15px 20px}
.item-set .set-fold h3{float:left;height:18px;line-height:18px}
.item-set .set-fold .arrow-set-t{float:right;margin:5px 0 0}
.item-black .set-item-info{padding:20px}
.item-domain {border:none 0;padding:20px;text-align:center}
.item-domain h3{font-size:14px;font-weight:bold;color:#333;}
.item-domain p{padding:10px 0 0}
.item-set-border{width:300px;border:1px solid #ddd;padding:10px;}
.item-domain .s-txt, .item-domain .s-txt-focus{margin:0 5px;width:300px}
.blacklist{padding:30px 0 20px}
.blacklist h4{font-weight:bold;padding:0 0 10px 0;border-bottom:1px solid #ddd;}
.blacklist ul li{border-bottom:1px dotted #DFDFDF;line-height:28px;height:28px;padding:6px 0}
.blacklist a.name{width:70%;display:block;float:left;height:28px;line-height:28px;overflow:hidden;white-space:nowrap}
.blacklist span.date{float:right;width:100px;padding:0 10px}
.blacklists .btn-grey-white span{font-size:12px;}


.set-hd{margin:0 0 5px}
.set-item-info{padding:10px 0 0 0;}
.set-hd h3{font-size:14px;font-weight:700;border-bottom:#EBEBEB solid 1px;padding:0 0 10px;}
.set-item-title{padding:0 0 10px 0;/*color:#B8B7B7;*/}
.form-set .btn-green-big,.form-set .btn-green-big span,.set-item-info .btn-green-big span{font-size:12px;}
.form-set .s-txt, .item-set .s-txt, .form-set .s-txt-focus, .item-set .s-txt-focus{vertical-align:middle}
.form-set .s-txt, .form-set .s-txt-focus{float:left;width:400px}
.form-set dd{font-size:12px;padding:0 0 10px 0;overflow:hidden;*zoom:1}
.form-set dd:after, .item-set dd:after{clear: both;content: ".";display: block;height: 0;visibility: hidden}
.form-set dd .form-tt{float:left;display:block;width:120px;height:18px;line-height:18px;padding:3px 5px 3px 0;text-align:right}
.form-set dd .form-row{padding:3px 0;line-height:18px; float:left;width:620px;*margin:0}
.form-set dd .form-row label{padding:0 30px 0 0}
.form-set dd .form-row label.mt-no{margin:0;}
.form-set dd .form-row .s-textarea, .form-set dd .form-row .s-textarea-focus{width:400px;height:60px;overflow-y:auto;float:left;margin:0 5px 0 0;}
.form-set .box-ver{float:left}
.form-set .mod-at-wrap{width:260px}
.set-item-info .form-avatar dd{padding:5px 0}
.form-tag{padding:15px 20px;zoom:1}
.form-tag p{padding:5px 0 0}
.form-work textarea{width:590px;height:70px;overflow-y:auto}
.form-tag .s-txt, .form-tag .s-txt-focus{width:500px;vertical-align:middle}
.form-work .s-txt, .form-work .s-txt-focus{width:400px}
.form-work .choose-user{width:410px}
.form-contact .s-txt, .form-contact .s-txt-focus{width:400px}
.form-privacy .s-ck{margin:-2px 5px 0 5px}
.form-privacy .form-row label{display:block;margin:5px 0 0}
.form-blacklist{padding:0 20px 20px 20px;}
.form-blacklist p{padding:20px 0;text-align:center;color:#999;}
.form-blacklist .choose-user{width:420px;}

/*帐号绑定*/
.ico-sina-big,.ico-qq-big,.ico-qzone-big,.ico-renren-big,.ico-douban-big,.ico-baidu-big,.ico-taobao-big{background:url(image/ico-account.png) no-repeat;width:50px;height:50px;display:inline-block;}
.ico-sina-big{background-position:0 0;}
.ico-qzone-big{background-position:0 -70px;}
.ico-qq-big{background-position:0 -140px;}
.ico-renren-big{background-position:0 -210px;}
.ico-douban-big{background-position:0 -280px;}
.ico-baidu-big{background-position:0 -350px;}
.ico-taobao-big{background-position:0 -420px;}
.bind-content{border:1px solid #eee;font-size:14px;}
.bind-content li{height:88px;border-bottom:1px solid #eee;overflow:hidden;zoom:1;}
.bind-content li .w1,.bind-content li .w2,.bind-content li .w3,.bind-content li .w4,.bind-content li .w5{float:left;text-align:center;}
.bind-content li .w1{width:120px;border-right:1px dotted #eee;padding:19px 0;}
.bind-content li .w2{width:120px;border-right:1px dotted #eee;line-height:88px;}
.bind-content li .w3{width:223px;border-right:1px dotted #eee;padding:24px 0;height:40px;line-height:40px;}
.bind-content li .w4{width:160px;border-right:1px dotted #eee;line-height:88px;}
.bind-content li .w5{width:130px;line-height:88px;_padding:29px 0;_line-height:30px;}
.bind-content li .w3 p{line-height:20px;}
.bind-content li.no-margin{border-bottom:0;}
.bind-content li.current{background:#fcfcfc;}